<link rel="stylesheet" href="about.css">
<div class="container">
    <div class="info_card">
        <div class="img_card">
            <img src="img/Roberto.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="info">
            <span id="info_tx">
                <h3 class="white">Roberto Orlando González de la Peña</h3>
                Capitán
            </span>
        </div>
    </div>
    <div class="info_card">
        <div class="img_card">
            <img src="img/abel.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="info">
            <span id="info_tx">
                <h3 class="white">Abel Danilo Vázquez Ochoa</h3>
                Capitán
            </span>
        </div>
    </div>
    <div class="info_card">
        <div class="img_card">
            <img src="img/Irania.jpg" width="100px" height="100px" alt="">

        </div>
        <div class="info">
            <span id="info_tx">
                <h3 class="white">Irania García Núnez</h3>
                Integrante
            </span>
        </div>
    </div>
    <div class="info_card">
        <div class="img_card">
            <img src="img/Leandro.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="info">
            <span id="info_tx">
                <h3 class="white">Leandro González Hidalgo</h3>
                Integrante
            </span>
        </div>
    </div>
    <div class="info_card">
        <div class="img_card">
            <img src="img/Roxana.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="info">
            <span id="info_tx">
                <h3 class="white">Roxana Lobaina Molina </h3>
                Integrante
            </span>
        </div>
    </div>


</div>