<div id="frontInfo" class=" at-4 col-md-8 mx-auto">
    <h1 class="display-4"><strong>Regbook</strong></h1>
    <p class="lead">Aplicación web creada para el manejo del registro de libros en la biblioteca de la universidad de Holguín.</p>
    <hr class="my-4">
    <a href="https://www.uho.edu.cu" class=""><img src="img/Id UHo-01.png" id="go" width="140px" height="60px" alt=""></a>
</div>
<link rel="stylesheet" href="index.css">